
/* font-family: "MyriadProCondRegular"; */
@font-face {
    font-family: "MyriadProCondRegular";
    src: url("../../fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("../../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("../../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadPro-Semibold"; */
@font-face {
    font-family: "MyriadProSemibold";
    src: url("../../fonts/MyriadProSemibold/MyriadPro-Semibold.eot");
    src: url("../../fonts/MyriadProSemibold/MyriadPro-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProSemibold/MyriadPro-Semibold.woff") format("woff"),
    url("../../fonts/MyriadProSemibold/MyriadPro-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadPro-Light"; */
@font-face {
    font-family: "MyriadProLight";
    src: url("../../fonts/MyriadProLight/MyriadPro-Light.eot");
    src: url("../../fonts/MyriadProLight/MyriadPro-Light.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProLight/MyriadPro-Light.woff") format("woff"),
    url("../../fonts/MyriadProLight/MyriadPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadPro-BoldCond"; */
@font-face {
    font-family: "MyriadProBoldCond";
    src: url("../../fonts/MyriadProBoldCond/MyriadPro-BoldCond.eot");
    src: url("../../fonts/MyriadProBoldCond/MyriadPro-BoldCond.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProBoldCond/MyriadPro-BoldCond.woff") format("woff"),
    url("../../fonts/MyriadProBoldCond/MyriadPro-BoldCond.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
